.app-bar {
    background-color: #002b80;
    color: white;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.app-bar-logo {
    height: 70px;
    margin-right: 24px;
}

.app-bar-title {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}
